<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table>
      <tr>
        <td>Name der Katze:</td>
        <td><%= cat.name %></td>
      </tr>
      <tr>
        <td>Besitzer der Katze:</td>
        <td><%= cat.owner %></td>
      </tr>
    </table>
  </body>
</html>
